h1{
  margin-left: 170px;
}

.right{
    margin-left: 200px;
}
.center{
    margin-left: 380px;
}
.dude{
    margin-left: 290px;
    padding: 15px;
}
.pic{
    margin-left: 200px;
}
.pad{
    margin-right: 280px;
}
.vaa{
    margin-top: 5px;
}
.hey{
    background-color: black;
    margin-left: 200px;
}
.red{
    background-color: red;
}
.left{
    margin-left: 180px;
}
.oii{
    text-align: center;
}
.ha{
    text-align: center;
}
.mela{
    text-align: center;
}
.white{
    height: 700px;
    background-color: lightblue;

}
.ser{
    margin-left: 550px;
}
.para{
    text-align: center;
}
.next{
    text-align: center;
}
.box{
    height: 250px;
    background-color: white;
}
.bold{
    margin-top: 90px;
}
.fox{
    height: 250px;
    background-color: blueviolet;
}
.bin{
    height: 250px;
    background-color: orangered;
}
.yo{
margin-left: 200px;
margin-top: 90px;
}
.cen{
    text-align: center;
}
.aim{
    text-align: center;
    margin:0 auto;
}
.hello{
    text-align: center;
}
.black{
    background-color: black;
}
.num{
    height: 300px;
    background-color: cornsilk;
}
.call{
    height: 300px;
    background-color: #454B62;
}
.come{
    text-align: center;
    color: white;
}
.you{
    text-align: center;
    color: white;
}
.but{
    background-color:#454B62;
    color: white;
    border-color: 1px solid white;
    margin-left: 45%;
}
.test{
 text-align: center;
}
.online{
    text-align: center;
    margin-left: 90px;
}
.our{
    text-align: center;
    margin-left: 110px;
}
.back{
    height: 4200px;
    background-color: whitesmoke;
}
.hoo{
    margin-right: 130px;
}
.ooh{
    margin-left: 100px;
}
.price{
    text-align: center;
    margin-top: 30%;
}
.text{
    text-align: center;
}
.col{
    height: 565px;
    background-color: white;
}
.earn{
    margin-left: 530px;
}
.that{
    text-align: center;
    margin-left: 55px;
}
.dia{
    margin-left: 530px;
}
.water{
    margin-left: 530px;
}
.butt{
    background-color: teal;
    color: white;
    margin-left: 530px;
}
.sdhk{
    text-align: center;
}
.raa{
    text-align: center;
}
footer{
    text-align: center;
    margin: 0 auto;
}
